{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Add a Recipe</h1>
</div>
{% comment %} 
  Leaving the action empty makes the form post to the same url used to display it
{% endcomment %}
<form action="" method="post" class="form-container">
  {% comment %} 
    Django requires the following for security purposes
  {% endcomment %}
  {% csrf_token %}
  <table>
    {{ form.as_table }}
      {% comment %} <label>
        Name:
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Ingredients:
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Steps:
        <input type="text" name="name" autocomplete="off">
      </label> {% endcomment %}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}