{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>

<script defer src="{% static 'js/recipe-detail.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

{% if object %}
  <h1>Edit {{ object.name }} </h1>
{% else %}
  <h1 id="add-recipe">Add a Recipe </h1>
{% endif %}

{% comment %} 
  Leaving the action empty makes the form post to the same url used to display it
{% endcomment %}
<form action="" method="post" class="form-container">
  {% comment %} 
    Django requires the following for security purposes
  {% endcomment %}
  {% csrf_token %}
  <table>
    {{ form.as_table }}
    
  </table>
  <button type="submit" class="btn btn-primary">Submit!</button>
</form>

{% endblock %}