{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  {% comment %} href="{% static 'css/recipe-detail.css' %}" {% endcomment %}
/>
{% endblock %}

{% block content %}

<section class="recipe-container">
  <div class="recipe-img">
    {% comment %} <img > {% endcomment %}
  </div>
  <div class="recipe-details">
    <h1>{{ recipe.name }}</h1>
    <h2>Ingredients</h2>
    <p>{{ recipe.ingredients }}</p>
    <h2>Steps</h2>
    <p>{{ recipe.steps }}</p>
  </div>
</section>

{% endblock %}