{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/recipe-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="recipe-container">
  <div class="recipe-img">
    {% comment %} <img > {% endcomment %}
  </div>
  <div class="recipe-details">
    <h1>{{ recipe.name }}</h1>
    <div id="ingredients">
      <h2>Ingredients</h2>
      <p>{{ recipe.ingredients }}</p>
    </div>
    <div id="steps">
      <h2>Steps</h2>
      <p>{{ recipe.steps }}</p>
    </div>
  </div>
</section>

{% endblock %}