{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Recipes</h1>
  
</section>

<section class="card-container">
  {% for r in recipes %}
    <div class="card">
      <a href="{% url 'recipes_detail' r.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% comment %} <img 
            
            > {% endcomment %}
          </div>
          <h2 class="card-title">{{ r.name }}</h2>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}