body {
  background-color: rgb(75, 137, 244);
  font-family: 'Lora', serif;
  font-size: 25px;
}

nav {
  margin: 10px;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

main {
  width: 100%;
}

h2 {
  font-size: var(--font-xl);
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 26px;
  font-family: 'Lora', serif;
  transition: all .3s ease-in-out;
  position: sticky;
  text-align: center;
}

nav a:hover {
  color: rgb(198, 134, 134);
  transform: scale(1.3);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav li {
  padding: 5px 8px;
}

.header-logo-container {
  margin: auto;
  padding: 10px 20px 0;
  max-width: 500px;
}

.page-header {
  display: flex;
  align-items: center;
  margin: 20px;
}
