.form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  margin: 10px;
  width: 200px;
  height: auto;
}

a {
  text-decoration: none;
}

.recipe-details {
  margin: 20px;
}

#ingredients, #steps, #date {
  border: black;
}

#title {
  font-weight: bolder;
  font-size: 5rem;
}

table {
  padding: 0 40px;
  width: 100%;
  border-spacing: 0 20px;
}

th {
  text-align: left;
  padding: 6px 20px 0 0;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
}

td {
  max-width: 60%;
}

td > * {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}

.btn {
  align-self: flex-end;
  margin-right: 40px;
}

.btn-primary {
  background-color: rgb(155, 0, 49);
}

#id_ingredients, #id_steps, #id_name, #id_date {
  width: 600px;
}

#card-title {
  color: black;
  margin: 20px;
  text-align: center;
  align-items: center;
}